h2{
	
	color:white;
	margin-left: 8px;
}
nav {
	width: 100%;
	height: 120px;
	border: 1px solid black;
	background-color: brown;

}
nav ul li{
	display:inline;

	
}
nav ul{
	text-decoration: none;
	word-spacing: 20px;
}
nav ul li a {
	text-decoration: none;
	color: grey;
		
	
}
#form1{
	float:right;
}
#submit {
	float:right;
}